<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="https://statesnewsroom.com/wp-content/uploads/2019/10/favicon.png">
	<link rel="apple-touch-icon" href="https://statesnewsroom.com/wp-content/uploads/2019/10/favicon.png"/>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab&display=swap" rel="stylesheet"> 
    <title>States Newsroom MentionBot</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/assets/js/mentionbot.js"></script>
  </head>
  <body style="background-color:#18134F;padding-left:15px;padding-right:15px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" id="pokeBot" href="#">
                        <img src="/assets/images/MentionBot.png">
                        <span style="font-family: 'Roboto Mono', monospace;">Hi! I'm Mennie!</span>
                    </a>
                    <form method="post" action="/channelcleaner">
                        <input type="submit" value="Purge Mentionbot Channel">
                    </form>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/newmention">Add New Mention</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Affiliates
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Arizona">Arizona Mirror</a>
                                <a class="dropdown-item" href="/Colorado">Colorado Independent</a>
                                <a class="dropdown-item" href="/Florida">Florida Phoenix</a>
                                <a class="dropdown-item" href="/Georgia">Georgia Recorder</a>
                                <a class="dropdown-item" href="/Iowa">Iowa Capital Dispatch</a>
                                <a class="dropdown-item" href="/Maine">Maine Beacon</a>
                                <a class="dropdown-item" href="/Maryland">Maryland Matters</a>
                                <a class="dropdown-item" href="/Michigan">Michigan Advance</a>
                                <a class="dropdown-item" href="/Minnesota">Minnesota Reformer</a>
                                <a class="dropdown-item" href="/Nevada">Nevada Current</a>
                                <a class="dropdown-item" href="/NorthCarolina">NC Policy Watch</a>
                                <a class="dropdown-item" href="/Ohio">Ohio Capital Journal</a>
                                <a class="dropdown-item" href="/Pennsylvania">Pennsylvania Capital-Star</a>
                                <a class="dropdown-item" href="/Virginia">Virginia Mercury</a>
                                <a class="dropdown-item" href="/Wisconsin">Wisconsin Examiner</a>
                            </div>
                        </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    {{{ body }}}
  </body>
  <!-- Facebook Pixel Code -->
</html>