<form action="/postmention" method="post">
    Outlet: <input type="text" name="outlet"><br>
    Title: <input type="text" name="title"><br>
    Description: <input type="text" name="descrip"><br>
    Publication Date: <input type="text" name="pubdate"><br>
    Link: <input type="text" name="link"><br>
    Tags: <select multiple>
        <option value="Mention">Mention</option>
        <option value="Reprint">Reprint</option>
        <option value="Bigtime">Bigtime</option>
        <option value="Cringeworthy">Cringeworthy</option>
    </select>
<input type="submit" value="Submit">
</form>