<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class ="col-10">
            <h1 class="pokeText" style="text-align: center;color:white;">States Newsroom Mention Bot</h1>
            <h2 style="text-align: center;color:white;">Mentions of The Colorado Independent</h2>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{{> mentionGrid/filterGrid}}
<div class="container-fluid">
    <div class="row">
        {{#each mentions}}
            {{#ifEquals outlet "Colorado Independent"}}
                {{> mentionGrid/mentionBlock}}
            {{/ifEquals}}
        {{/each}}
    </div>
</div>