<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class ="col-10">
            <h1 style="text-align: center;color:white;">States Newsroom Mention Bot</h1>
            <h2>Mentions of All Affiliates</h2>
        </div>
        <div class="col-1"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        {{#each mentions}}
                {{> mentionGrid/mentionBlock}}
        {{/each}}
    </div>
</div>
