<div class="container" style="margin-top:30px">
    <div id="sassyBot" class="row">
        <div class="col-12">
            <div class="d-flex align-content-center justify-content-center">
                <h4 style="color:white;">Filter by Tag</h4>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex align-content-center justify-content-center">
                <a href="#" class="btn btn-primary buttMargin" id="Mention">Mention</a>
                <a href="#" class="btn btn-primary buttMargin" id="External_Reprint">External Reprint</a>
                <a href="#" class="btn btn-primary buttMargin" id="Internal_Reprint">Internal Reprint</a>
                <a href="#" class="btn btn-primary buttMargin" id="Appearance">Appearance</a>
                <a href="#" class="btn btn-primary buttMargin" id="Bigtime">Bigtime</a>
                <a href="#" class="btn btn-primary buttMargin" id="Cringeworthy">Cringeworthy</a>
            </div>
        </div>
    </div>
</div>