<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-content-center justify-content-center">
                <h4 style="color:white;">Filter by Tag</h4>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex align-content-center justify-content-center">
                <a href="JavaScript:Void(0);" class="btn btn-primary" id="Mention">Mention</a>
                <a href="JavaScript:Void(0);" class="btn btn-primary" id="Reprint">Reprint</a>
                <a href="JavaScript:Void(0);" class="btn btn-primary" id="Bigtime">Bigtime</a>
                <a href="JavaScript:Void(0);" class="btn btn-primary" id="Cringeworthy">Cringeworthy</a>
            </div>
        </div>
    </div>
</div>