<div class="container" style="margin-top:30px">
    <div id="sassyBot" class="row">
        <div class="col-12">
            <div class="d-flex align-content-center justify-content-center mb-3">
                <h4 style="color:white;">Filter by Tag</h4>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex align-content-center justify-content-center flex-wrap mb-4">
                <a href="#" class="btn btn-primary buttMargin my-3" id="Mention"><span style="height:100%;display:flex;justify-content:center;align-items:center;"><span>Mention</span></span></a>
                <a href="#" class="btn btn-primary buttMargin my-3" id="External_Reprint"><span style="height:100%;display:flex;justify-content:center;align-items:center;"><span>External Reprint</span></span></a>
                <a href="#" class="btn btn-primary buttMargin my-3" id="Internal_Reprint"><span style="height:100%;display:flex;justify-content:center;align-items:center;"><span>Internal Reprint</span></span></a>
                <a href="#" class="btn btn-primary buttMargin my-3" id="Appearance"><span style="height:100%;display:flex;justify-content:center;align-items:center;"><span>Appearance</span></span></a>
                <a href="#" class="btn btn-primary buttMargin my-3" id="Bigtime"><span style="height:100%;display:flex;justify-content:center;align-items:center;"><span>Bigtime</span></span></a>
                <a href="#" class="btn btn-primary buttMargin my-3" id="Cringeworthy"><span style="height:100%;display:flex;justify-content:center;align-items:center;"><span>Cringeworthy</span></span></a>
                <a href="#" class="btn btn-primary buttMargin my-3" id="Editor_Letter"><span style="height:100%;display:flex;justify-content:center;align-items:center;"><span>Letter to the Editor</span></span></a>
                <a href="#" class="btn btn-primary buttMargin my-3" id="Aggregation"><span style="height:100%;display:flex;justify-content:center;align-items:center;"><span>Aggregation</span></span></a>
                <a href="#" class="btn btn-primary buttMargin my-3" id="Showall"><span style="height:100%;display:flex;justify-content:center;align-items:center;"><span>Show All</span></span></a>
            </div>
        </div>
    </div>
</div>