.mentionCard {
    margin-top:20px;
    margin-bottom:20px;
}
.btn-primary {
    background-color: #8BBEB2 !important;
    border-color: #8BBEB2 !important;
}
.nav-item {
    color: white !important;
    margin-right: 15px !important;
    align-self: center !important;
}
.nav-item:hover {
    color: #8BBEB2 !important;
}
.buttMargin {
    margin-right:15px;
    margin-left:15px;
}