.mentionCard {
    margin-top:20px;
    margin-bottom:20px;
}
.btn-primary {
    background-color: #8BBEB2 !important;
    border-color: #8BBEB2 !important;
}
.nav-item a {
    color: white !important;
    align-self: center !important;
}
.nav-item a:hover {
    color: #8BBEB2 !important;
}
.buttMargin {
    margin-right:15px;
    margin-left:15px;
}
.navbar {
    background-color: #18134F !important;
}

.navbar-brand img {
    height: 40px !important;
}

.dropdown-menu {
    background-color: #384E77 !important;
}
body {
    font-family: 'Roboto Slab', serif !important;
}